<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TK4XPP');</script>
    <!-- End Google Tag Manager -->



    <meta charset="UTF-8">
    <title>Equilibrium Lab Calculator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <style href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></style>

    <!-- Chart.JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.bundle.min.js"></script>

    <!-- AngularJS-->
    <!--    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.2/angular.min.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular-route.min.js"></script>


    <script src="main.js"></script>

    <style>
        .chart {
            min-height: 0em;
            max-height: 80em;
        }

        canvas {
            height: 0em;
        }

    </style>
</head>


<body ng-app="main" ng-controller="mainController">

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TK4XPP"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->


<div class="container">
    <div class="page-header">
        <h1>Equilibrium Lab Calculator</h1>
    </div>
    <h3>How do I use it?</h3>
    <p>
        1. Fill in the forms with your data
        <br>
        2. Hit calculate
        <br>
        <br>
        The calculator will simulate the experiment and print out the data after each iteration.
        <br>
        Once the volumes of the cylinder stabilize, that is, a certain amount of the last measured volumes are within a
        certain range, the script
        will terminate.
        <br>
        <br>
        * Ignore that the values in the input fields change as the program executes.
        <br>
        * A reset is needed before every new calculation
    </p>


    <div class="row">

        <form>
            <div class="col-xs-6">

                <div class="form-group">
                    <label for="h1">Cylinder 1 Water Level (mL)</label>
                    <input type="number" step=any class="form-control" id="h1" placeholder="" ng-model="h1">
                </div>
                <div class="form-group">
                    <label for="s1">Straw 1 Diameter (cm)</label>
                    <input type="number" step=any class="form-control" id="s1" placeholder="" ng-model="s1">
                </div>


            </div>

            <div class="col-xs-6">

                <div class="form-group">
                    <label for="h2">Cylinder 2 Water Level (mL)</label>
                    <input type="number" step=any class="form-control" id="h2" placeholder="" ng-model="h2">
                </div>
                <div class="form-group">
                    <label for="s2">Straw 2 Diameter (cm)</label>
                    <input type="number" step=any class="form-control" id="s2" placeholder="" ng-model="s2">
                </div>

            </div>

            <div class="col-xs-12">

                <div class="form-group">
                    <label for="cRadius">Radius of both cylinders (cm)</label>
                    <input type="number" step=any class="form-control" id="cRadius" placeholder="" ng-model="cRadius">
                </div>


                <div class="form-group">
                    <label for="uncertainty">Uncertainty allowed to reach EQ</label>
                    <input type="number" step=any class="form-control" id="uncertainty" placeholder=""
                           ng-model="uncertainty">
                </div>

                <div class="form-group">
                    <label for="trials">Number of similar data points required to reach EQ</label>
                    <input type="number" step=any class="form-control" id="trials" placeholder="" ng-model="trials">
                </div>


                <button type="" class="btn btn-primary" ng-click="cycle()">Calculate</button>
                <button type="" class="btn btn-danger" onclick="location.reload();">Reset</button>

            </div>

        </form>

        <div class="col-xs-12">
            <br>
            <div id="output">
            </div>
            <canvas class="chart" id="myChart"></canvas>
        </div>


        <div class="col-xs-12">

            <table class="table table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Cylinder 1 (mL)</th>
                    <th>Cylinder 2 (mL)</th>
                    <th>Straw 1 (mL)</th>
                    <th>Straw 2 (mL)</th>
                </tr>
                </thead>

                <tbody>

                <tr ng-repeat="x in labels">
                    <td><b>{{x}}</b></td>
                    <td ng-bind="h1Array[x]"></td>
                    <td ng-bind="h2Array[x]"></td>
                    <td ng-bind="s1Array[x]"></td>
                    <td ng-bind="s2Array[x]"></td>
                </tr>

                </tbody>
            </table>
        </div>

    </div>


    <p class="text-center">By Rahul Batra</p>

</div>


</body>
</html>
