Package: com.spyruf.OVOZeppelinLogos
Name: OVO Zeppelin Logos
Depends: com.alexzielenski.zeppelin
Conflicts:
Version: 1.1
Architecture: iphoneos-arm
Description: OVO Owl Zeppelin Logos. Tested on iPhone 6.
Depiction: http://spyruf.github.io/theme.html
Maintainer: Spyruf <spyruf@gmail.com>
Author: Spyruf <spyruf@gmail.com>
Section: Themes (Zeppelin)
