<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Equilibrium Lab</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <style href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></style>

    <!-- Chart.JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.bundle.min.js"></script>

    <!-- AngularJS-->
    <!--    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.2/angular.min.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular-route.min.js"></script>


    <script src="main.js"></script>
</head>
<body ng-app="main" ng-controller="mainController">

<div class="container">
    <div class="page-header">
        <h1>Equilibrium Lab Calculater</h1>
    </div>
    <h3>How do I use it?</h3>
    <p>
        1. Fill in the forms with your data
        <br>
        2. Hit calculate
        <br>
        <br>
        The calculator will simulate the experiment and print out the data after each iteration.
        <br>
        Once the volumes of the cylinder stabilize, that is the last x amount of volumes are within 0.001 mL, the script
        will terminate.
        <br>
        <br>
        *Ignore that the values in the input fields change as the program executes.
    </p>


    <form>
        <div class="form-group">
            <label for="h1">Cylinder 1 Water Height (cm)</label>
            <input type="number" step=any class="form-control" id="h1" placeholder="" ng-model="h1">
        </div>
        <div class="form-group">
            <label for="h2">Cylinder 2 Water Height (cm)</label>
            <input type="number" step=any class="form-control" id="h2" placeholder="" ng-model="h2">
        </div>
        <div class="form-group">
            <label for="s1">Straw 1 Diameter (cm)</label>
            <input type="number" step=any class="form-control" id="s1" placeholder="" ng-model="s1">
        </div>
        <div class="form-group">
            <label for="s2">Straw 2 Diameter (cm)</label>
            <input type="number" step=any class="form-control" id="s2" placeholder="" ng-model="s2">
        </div>
        <div class="form-group">
            <label for="s2">Number of similar data points needed</label>
            <input type="number" step=any class="form-control" id="trails" placeholder="" ng-model="trials">
        </div>

        <button type="" class="btn btn-primary" ng-click="cycle()">Calculate</button>
    </form>
    <br>
    <canvas id="myChart" width="400" height="400"></canvas>

    <div id="output">
    </div>

    <p class="text-center">By Rahul Batra and Roma Chitko</p>

</div>


</body>
</html>